:root {
    --dark-background-color: rgba(37, 43, 66, 1);
    --faded-secondary-color-1: rgba(185, 234, 168, 1);
    --danger-color: rgba(231, 64, 64, 1);
    --muted-color: rgba(189, 189, 189, 1);
    --text-color: rgba(37, 43, 66, 1);
    --light-background-color: rgba(255, 255, 255, 1);
    --primary-color: rgba(35, 166, 240, 1);
    --success-text-color: rgba(45, 192, 113, 1);
    --secondary: rgba(243, 205, 3, 1);
    --second-text-color: rgba(115, 115, 115, 1);
    --faded-secondary-color-2: rgba(255, 220, 209, 1);
    --light-gray-1: rgba(250, 250, 250, 1);
    --alert-color: rgba(231, 124, 64, 1);
    --secondary-color-1: rgba(64, 187, 21, 1);
    --primary-text-color: rgba(35, 166, 240, 1);
    --light-text-color: rgba(255, 255, 255, 1);
    --small-font-family: "Montserrat-Regular", Helvetica;
    --small-font-weight: 400;
    --small-font-size: 12px;
    --small-letter-spacing: 0.20000000298023224px;
    --small-line-height: 16px;
    --small-font-style: normal;
    --link-font-family: "Montserrat-Bold", Helvetica;
    --link-font-weight: 700;
    --link-font-size: 14px;
    --link-letter-spacing: 0.20000000298023224px;
    --link-line-height: 24px;
    --link-font-style: normal;
    --h-3-font-family: "Montserrat-Bold", Helvetica;
    --h-3-font-weight: 700;
    --h-3-font-size: 24px;
    --h-3-letter-spacing: 0.10000000149011612px;
    --h-3-line-height: 32px;
    --h-3-font-style: normal;
    --h-1-font-family: "Montserrat-Bold", Helvetica;
    --h-1-font-weight: 700;
    --h-1-font-size: 58px;
    --h-1-letter-spacing: 0.20000000298023224px;
    --h-1-line-height: 80px;
    --h-1-font-style: normal;
    --paragraph-font-family: "Montserrat-Regular", Helvetica;
    --paragraph-font-weight: 400;
    --paragraph-font-size: 14px;
    --paragraph-letter-spacing: 0.20000000298023224px;
    --paragraph-line-height: 20px;
    --paragraph-font-style: normal;
    --h-4-font-family: "Montserrat-Regular", Helvetica;
    --h-4-font-weight: 400;
    --h-4-font-size: 20px;
    --h-4-letter-spacing: 0.20000000298023224px;
    --h-4-line-height: 30px;
    --h-4-font-style: normal;
    --h-5-font-family: "Montserrat-Bold", Helvetica;
    --h-5-font-weight: 700;
    --h-5-font-size: 16px;
    --h-5-letter-spacing: 0.10000000149011612px;
    --h-5-line-height: 24px;
    --h-5-font-style: normal;
    --btn-text-font-family: "Montserrat-Bold", Helvetica;
    --btn-text-font-weight: 700;
    --btn-text-font-size: 14px;
    --btn-text-letter-spacing: 0.20000000298023224px;
    --btn-text-line-height: 22px;
    --btn-text-font-style: normal;
    --h-2-font-family: "Montserrat-Bold", Helvetica;
    --h-2-font-weight: 700;
    --h-2-font-size: 40px;
    --h-2-letter-spacing: 0.20000000298023224px;
    --h-2-line-height: 50px;
    --h-2-font-style: normal;
    --h-6-font-family: "Montserrat-Bold", Helvetica;
    --h-6-font-weight: 700;
    --h-6-font-size: 14px;
    --h-6-letter-spacing: 0.20000000298023224px;
    --h-6-line-height: 24px;
    --h-6-font-style: normal;
    --light-drop-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    --accentued-drop-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

